SUI_NETWORK=testnet
SUI_RPC_URL=https://fullnode.testnet.sui.io
SUI_PRIVATE_KEY=suiprivkey...
POOL_ID=0xpoolid
LOWER_TICK=0
UPPER_TICK=100
CHECK_INTERVAL_SECONDS=60
ZAP_AMOUNT_A=1000000
ZAP_AMOUNT_B=1000000
ZAP_SLIPPAGE_BPS=50
